doctype html
html
    head
        title= title
    body
        div.container
            h1= title
            if cart.length === 0
                p Your cart is empty.
            else
                ul.list-group
                    each item in cart
                        li.list-group-item
                            h2= item.name
                            p.card-text= item.description
                            p.card-text= `Price: $${item.price}`
                            p.card-text= `Category: ${item.category}`
                            img.card-img-top(src=item.image, alt=item.name)

                            // Quantity selector for each item
                        form(action=`/cart/update/${item._id}`, method='post')
                            label(for=`quantity-${item._id}`) Quantity:
                            input(type='number', id=`quantity-${item._id}`, name='quantity', value=item.quantity, min='1', max='10', onchange='this.form.submit()')
                            button.btn.btn-danger(type='submit', formaction=`/cart/remove/${item._id}`) Remove from Cart


                // Calculate the total price
                - let totalPrice = cart.reduce((sum, item) => sum + parseFloat(item.price) * item.quantity, 0);

                h2 Total Price: $#{totalPrice.toFixed(2)}

        p
            a.btn.btn-success(href='/') Continue shopping

        // Script section to handle quantity changes and update total price
        script.
            function updateTotalPrice() {
                const quantityInputs = document.querySelectorAll('input[name="quantity"]');
                let totalPrice = 0;
                quantityInputs.forEach((input, index) => {
                    const itemPrice = parseFloat(cart[index].price);
                    const itemQuantity = parseInt(input.value);
                    if (!isNaN(itemPrice) && !isNaN(itemQuantity)) {
                        totalPrice += itemPrice * itemQuantity;
                    }
                });
                document.getElementById('totalPrice').textContent = 'Total Price: $' + totalPrice.toFixed(2);
            }
