doctype html
html
    head
        title= title
    body
        div.container
            h1= clothingItem.name
            p= clothingItem.description
            p= `Price: $${clothingItem.price}`
            p= `Category: ${clothingItem.category}`
            img(src=clothingItem.image, alt=clothingItem.name)

        p
            a(href='/cart/add/' + clothingItem.id, role='button') Add to Cart
