doctype html
html
    head
        title= title
    body
        h1= clothingItem.name
        p= clothingItem.description
        p= `Price: $${clothingItem.price}`
        p= `Category: ${clothingItem.category}`
        img(src=clothingItem.image, alt=clothingItem.name)
