doctype html
html
    head
        title= title
        div

    body
        div.container
            h1= title
            a.btn.btn-success(href='/cart') View Cart
            ul.list-group
                each item in clothingItems
                    li.list-group-item
                        h2= item.name
                        p.card-text= item.description
                        p.card-text= `Price: $${item.price}`
                        p.card-text= `Category: ${item.category}`
                        img.card-img-top(src=item.image, alt=item.name)
                        div
                        // View item details link
                        a.btn.btn-primary(href=`/clothing/${item.id}`) View Details


                        // Quantity selector and Add to Cart form
                        form(action='/cart/add', method='post')
                            input(type='hidden', name='id', value=item.id)
                            label(for=`quantity-${item.id}`) Quantity:
                            button.btn.btn-success(type='submit') Add to Cart

        p
            a.btn.btn-success(href='/cart') View Cart
